# ============================================================
# boards/topaze/kconfig/topaze_includes_defconfig 
# 
# This file is seen as an included relay for defconfig fragments.
# Add here your config fragments to be included in the build process.
#
# l.heywang
# 19/02/2025
#
# ============================================================

# ------------------------------------------------------------
# CPU CORE CONFIGURATION
# ------------------------------------------------------------
source "topaze_arm_defconfig"

# ------------------------------------------------------------
# PERIPHERALS
# ------------------------------------------------------------
source "peripherals/topaze_pwm_defconfig"
source "peripherals/topaze_serial_defconfig"
source "peripherals/topaze_gpio_defconfig"
source "peripherals/topaze_leds_defconfig"

# ------------------------------------------------------------
# DEV. TOOLS
# ------------------------------------------------------------
source "tools/topaze_log_defconfig"
source "tools/topaze_threadanalyzer_defconfig"
source "tools/topaze_segger_defconfig"
source "tools/topaze_console_defconfig"