#
# Copyright (c) 2023 Nordic Semiconductor ASA
#
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause
#

source "Kconfig.zephyr"

config BOARD_ENABLE_CPUNET
	bool
	depends on BOARD_OPALE_CPUAPP || BOARD_OPALE_CPUAPP_NS
	default y
