/* ============================================================
 * This file is the overlay DTS for topaze that define the UARTS
 *
 * We describe here the peripherals configuration, and so on...
 *
 * l.heywang
 * 21/02/2025
 *
 * ============================================================
 */

// ============================================================
// UARTS and PINCTRL
// ============================================================
// Enable UART drivers with defined settings
&uart3 {
    status = "okay";
    current-speed = <115200>;
    pinctrl-0 = <&uart3_dk>;
    pinctrl-names = "default";
};

// UART for GPS. No flow control.
// On the DK, exposed pins to an header.
&pinctrl {
    uart3_dk: uart3_dk {
		group1 {
			psels = <NRF_PSEL(UART_TX, 1, 2)>,
                    <0xffffffff>; // RTS : Value for unused pin.
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 1, 3)>,
                    <0xffffffff>; // CTS : Value for unused pin.
			bias-pull-up;
		};
	};

    uart3_topaze: uart3_topaze {
		group1 {
			psels = <NRF_PSEL(UART_TX, 0, 31)>,
                    <0xffffffff>; // RTS : Value for unused pin.
		};
		group2 {
			psels = <NRF_PSEL(UART_RX, 1, 11)>,
                    <0xffffffff>; // CTS : Value for unused pin.
			bias-pull-up;
		};
	};
};

// Configure the console output as UART0 and 
// set aliases for this module
/ {
    aliases {
        uart3 = &uart3;
    };
};