/* ============================================================
 * This file is the overlay DTS for topaze that define the UARTS
 *
 * We describe here the peripherals configuration, and so on...
 *
 * l.heywang
 * 21/02/2025
 *
 * ============================================================
 */

// ============================================================
// UARTS and PINCTRL
// ============================================================
// Enable SPI drivers with defined settings
&spi4 {
    status = "okay";
    pinctrl-0 = <&spi4_dk>;
    pinctrl-names = "default";
};

// UART for IMU. No flow control.
// On the DK, exposed pins to an header.
&pinctrl {
    spi4_dk: spi4_dk {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 14)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 16)>,
                    <NRF_PSEL(SPIM_MISO, 0, 18)>;
		};
	};

    spi4_topaze: spi4_topaze {
		group1 {
			psels = <NRF_PSEL(SPIM_SCK, 0, 21)>,
                    <NRF_PSEL(SPIM_MOSI, 0, 19)>,
                    <NRF_PSEL(SPIM_MISO, 1, 21)>;
		};
	};
};

// Add devices to the bus
&spi4 {
    cs-gpios =  <&gpio1 8 GPIO_ACTIVE_LOW>,
                <&gpio1 5 GPIO_ACTIVE_LOW>,
                <&gpio1 6 GPIO_ACTIVE_LOW>;

    /*
     * Here another strange behavior :
     * With spi-device only, some errors will exists. 
     * They remain unknown.
     * 
     * But, as https://devzone.nordicsemi.com/f/nordic-q-a/108613/yet-another-zephyr-devicetree-problem-this-time-with-spi-spi-max-frequency-amongst-others
     * say, if we change it to vnd,spi-device it then works.
     *
     * Why ?
     *
     * And don't forget : Fuck up VSCode for your complains...
     *
     */
    eeprom0: eeprom0@0 {
        compatible = "vnd,spi-device";
        reg = <0>;
        spi-max-frequency = <DT_FREQ_M(20)>;
    };

    eeprom1: eeprom1@1 {
        compatible = "vnd,spi-device";
        reg = <1>;
        spi-max-frequency = <DT_FREQ_M(20)>;
    };

    eeprom2: eeprom2@2 {
        compatible = "vnd,spi-device";
        reg = <2>;
        spi-max-frequency = <DT_FREQ_M(20)>;
    };
};

/ {
    aliases {
        spi4 = &spi4;

        eeprom0 = &eeprom0;
        eeprom1 = &eeprom1;
        eeprom2 = &eeprom2;
    };
};