/* ============================================================
 * This file is the overlay DTS for topaze that define the PWM
 * peripheral
 *
 * We describe here the peripherals configuration, and so on...
 *
 * l.heywang
 * 18/02/2025
 *
 * ============================================================
 */

/* todo
 *  - Change pins for final PCB version
 *  - Configure PWM for final servo usage
 */

// ============================================================
// PWM
// ============================================================
// Peripheral configuration
&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-names = "default";
};

// Pin muxing configuration
&pinctrl {
    pwm0_default: pwm0_default {
        group1 {
            psels =     <NRF_PSEL(PWM_OUT0, 0, 29)>,
                        <NRF_PSEL(PWM_OUT1, 0, 30)>, 
                        <NRF_PSEL(PWM_OUT2, 0, 31)>;
                        // <NRF_PSEL(PWM_OUT3, 0, 28)>;
            nordic,invert;
        };
    };
};

// Operating parameters configuration
/*
 *  WARNING :   Only the settings for MIN_PULSE, MAX_PULSE and PERIOD of the
 *              first line are used. That's why not all servo define them.
 */
/{
    servos {
        compatible = "pwm-servo";
        servo1: pwm_led_0 {
            pwms = <&pwm0 0 PWM_HZ(50) PWM_POLARITY_NORMAL>;
            period = <PWM_HZ(50)>;
            min-pulse = <PWM_USEC(700)>;
            max-pulse = <PWM_USEC(2300)>;
            min-angle = <(-90)>;
            max-angle = <(90)>;
        };
        servo2: pwm_led_1 {
            pwms = <&pwm0 1 PWM_HZ(50) PWM_POLARITY_NORMAL>;
        };
        servo3: pwm_led_2 {
            pwms = <&pwm0 2 PWM_HZ(50) PWM_POLARITY_NORMAL>;
        };
    };
};






