# ============================================================
# boards/topaze/kconfig/tools/topaze_pwm_defconfig 
# 
# This file is seen as a fragment of a defconfig file, and used
# to configure some things related to the thread analyzer module
# for advanced debugging
#
# l.heywang
# 19/02/2025
#
# ============================================================

# ------------------------------------------------------------
# ENABLING MODULE
# ------------------------------------------------------------
CONFIG_THREAD_ANALYZER=y 

# ------------------------------------------------------------
# MODULE CONFIG
# ------------------------------------------------------------
# Use the logger module for statistics outputs
CONFIG_THREAD_ANALYZER_USE_LOG=y

# Run the analyzer by itself
CONFIG_THREAD_ANALYZER_AUTO=y