# ============================================================
# boards/topaze/kconfig/core/topaze_arm_defconfig 
# 
# This file is seen as a fragment of a defconfig file, and used
# to configure some things related to ARM core only.
#
# l.heywang
# 19/02/2025
#
# ============================================================

# ------------------------------------------------------------
# CORE CONFIG
# ------------------------------------------------------------
# MPU
CONFIG_ARM_MPU=y

# HSP (Hardware Stack Protection)
CONFIG_HW_STACK_PROTECTION=y

# Trustzone
CONFIG_ARM_TRUSTZONE_M=y

# Enable execution in nonsecure env.
CONFIG_TRUSTED_EXECUTION_NONSECURE=y