# ============================================================
# boards/topaze/kconfig/peripherals/topaze_leds_defconfig 
# 
# This file is seen as a fragment of a defconfig file, and used
# to configure some things related to the leds only
#
# l.heywang
# 19/02/2025
#
# ============================================================

# ------------------------------------------------------------
# ENABLING MODULE
# ------------------------------------------------------------
CONFIG_LED=y

# ------------------------------------------------------------
# MODULE CONFIG
# ------------------------------------------------------------
# Enabling PWM leds
CONFIG_LED_PWM=y